<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boi Lagbe | Online Books Store</title>
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <main class="flex" style="width: 100vw; height: 100vh;">
        <div style='text-align: center; width: fit-content; margin: auto;'>
            <h1>Thank you for buying</h1>
            <a class=' btn' href='/LandingPage'>Back to Home</a>
        </div>
    </main>
</body>

</html>
