:root {
  --primary: #1e90ff;
  --primary-deep: #bed3e7;
  --background: #cbd5df;
}
/* Modal */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}
.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #000;
  color: #fff;
  border-radius: 50%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.hidden {
  display: none;
}

var * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: var(--primary);
  border-width: 0;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  cursor: pointer;
}
.btn.btn-lg {
  padding: 12px 36px;
  font-size: 18px;
  border-radius: 10px;
}
.btn:hover {
  background: var(--primary-deep);
}
.text-center {
  text-align: center;
}
.header {
  background: #fff;
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px o;
}

.col-3 {
  align-items: center;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 50%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 35px;
  padding-right: 35px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: var(--primary);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.footer {
  background: #9999d9;
  color: #000;
  font-size: 12px;
  padding: auto;
  height: 170px;
}

.footer-col-1 {
  min-width: 250px;
  margin-bottom: 20px;
  flex-basis: 12%;
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*----media query for menu----*/
@media only screen and (max-width: 832px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/*all Product*/
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid var(--primary);
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid var(--primary);
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: var(--primary);
  color: #fff;
}

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid;
}

.shoppingCart {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: warp;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: rgb(236, 114, 93);
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: var(--primary);
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid var(--primary);
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

/*---account page----*/
.account-page {
  padding: 50px 0;
  background: #fff;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  top: 130px;
  transition: transform 200ms;
}

.form-container {
  background: #fff;
  width: 300px;
  text-align: center;
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}
.form-container.form-container-auth {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  transition: transform 200ms;
}

.form-container form.form-auth {
  position: absolute;
  top: 130px;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#regisForm {
  left: 0;
}

#Indicator {
  width: 100px;
  border: none;
  background: var(--primary);
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
}

.edit-account-page {
  margin: 80px auto;
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

.cart-info p {
  display: none;
}

// The code is a bit of a mess at the moment! Sorry about that.

.cr-container {
  display: flex;
}
.cr-container > div {
  /* flex: 1; */
  padding: 0.5rem 1.5rem;
}
.cr-container input[type='radio'] {
  display: none;
}
  .cr-container input[type='radio']:not(:disabled) ~ label {
    cursor: pointer;
  }

  .cr-container input[type='radio']:disabled ~ label {
    color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
    cursor: not-allowed;
  }
.cr-container label {
  height: 100%;
  display: block;
  background: white;
  border: 4px solid var(--primary);
  border-radius: 12px;
  padding: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
.cr-container input[type='radio']:checked + label {
  background: var(--primary);
  color: white;
}

.cr-container input[type='radio']:checked + .bkash {
  background-color: #e2136d !important;
  border-color: #e2136d !important;
}
.cr-container input[type='radio']:checked + .nagad {
  background-color: #ed9020 !important;
  border-color: #ed9020 !important;
}
.cr-container input[type='radio']#control_05:checked + label {
  background: red;
  border-color: red;
}

/*
@media only screen and (max-width: 700px) {
  section.cr-container {
    flex-direction: column;
  }
} */
